/datasets
/YOLOX_outputs
/.vscode
/__pycache__
/best_ckpt.pth.tar
/yolox_s.onnx
/output
/note.ipynb
/yolox/__pycache__
yolox_s.ckpt
yolox_s.pth
build
yolox.egg-info
customize_service_i.py
YOLOX_outputs_h0_70
YOLOX_outputs_h2_65
YOLOX_outputs_h1_69.6
YOLOX_outputs_h3_67
yolox_*